---
import { getCollection } from "astro:content";
import ContentLayout from "../layouts/ContentLayout.astro";
import ArrowIcon from "../components/ArrowIcon.astro";
import ArticlePreview from "../components/ArticlePreview.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BackButton from "../components/BackButton.astro";

const allArticles = await getCollection("articles");
const sortedArticles = allArticles.sort((a, b) => 
    a.data.write_date < b.data.write_date ? 1 : -1)
    .filter((article) => article.data.is_published);
---

<BaseLayout title="All Articles - See Addin Munawwar Posts" description="All articles that Addin Munawwar has written.">
    <main class="flex-1 bg-main-black py-16 text-main-light">
        <ContentLayout>
            <div class="mb-4">
                <BackButton light={true} />
            </div>
            <div class="flex items-center gap-2 mt-2">
                <h1 class="mt-1 text-3xl sm:text-4xl">All Articles</h1>
                <span class="rotate-45">
                    <ArrowIcon color="#ba3a2c" size="40px"/>
                </span>
            </div>
            <div class="grid grid-cols-1 gap-10 mt-10">
                {
                    sortedArticles.length === 0 && (
                        <p>
                            No articles yet. Check back soon!
                        </p>
                    )
                }

                {sortedArticles.map((article, _) => (
                    <ArticlePreview 
                        slug={article.slug} title={article.data.title} 
                        write_date={article.data.write_date} description={article.data.meta_description} 
                    />
                ))}
            </div>
        </ContentLayout>
    </main>
</BaseLayout>
