---
    import ProjectCard from "./ProjectCard.astro";

    type Project = {
        slug: string;
        data: {
            title: string;
            tags: string[];
            poster: {
                src: string;
                alt: string;
            };
        };
    };

    const { projects } = Astro.props;
---

    <div class="grid grid-cols-1 gap-6 my-6 lg:grid-cols-2">
    {
        projects.length === 0 ? (
            <p class="text-main-black">No projects found</p>
        ) : (
            projects.map((project : Project) => (
            <ProjectCard   
                title={project.data.title}  
                tags={project.data.tags}
                img={project.data.poster.src}
                alt={project.data.poster.alt}  
                slug={project.slug}  
            />
            ))
        )
    }
</div>
