---
interface Props {
    label: string
    id: string
    rows: number | string
    placeholder: string
    required: boolean
}

const { label, id, rows, placeholder, required } = Astro.props
---

<div class="flex flex-col gap-1 mb-3">
    <label for={id}>{label}</label>
    <textarea id={id} name={id} required={required} 
        class="w-full max-w-lg p-2 text-main-black outline outline-1 -outline-offset-1 outline-main-gray placeholder:outline-main-gray
        focus:outline focus:outline-3 focus:outline-main-red resize-none" rows={rows} placeholder={placeholder}
    ></textarea>
</div>
