---
const { label, id, rows, placeholder, required, aos } = Astro.props
---

<div class="flex flex-col gap-1 mb-3" data-aos={aos?.type} data-aos-delay={aos?.delay} data-aos-anchor={aos?.anchor}>
    <label for={id}>{label}</label>
    <textarea id={id} name={id} required={required} 
        class="w-full max-w-lg p-2 rounded-lg text-main-black outline outline-1 -outline-offset-1 outline-main-gray placeholder:outline-main-gray
        focus:outline focus:outline-3 focus:outline-main-red resize-none" rows={rows} placeholder={placeholder}
    ></textarea>
</div>