---
interface Props {
    label: string
    id: string
    type: astroHTML.JSX.HTMLInputTypeAttribute
    placeholder: string
    required: boolean
}

const { label, id, type, placeholder, required } = Astro.props
---

<div class="flex flex-col gap-1">
    <label for={id}>{label}</label>
    <input type={type} id={id} name={id} required={required}
        class="w-full p-2 rounded-lg text-main-black outline outline-1 -outline-offset-1 outline-main-gray
        focus:outline focus:outline-3 focus:outline-main-red max-w-72" placeholder={placeholder}
    />
</div>
